.App {
  text-align: center;
}

.App-logo {
<<<<<<< HEAD
  height: 75vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #040404;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #007dab;
=======
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
>>>>>>> a8f3c19671d1dabcd02462b3c05bdc552594974e
}

@keyframes App-logo-spin {
  from {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

nav li {
  display: inline-block;
  padding: 5px;
}

nav li a {
  color: white;
}
